<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769420746617-a0nuleche9tjrt70j5ppqpn7cat2avkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769420746617-a0nuleche9tjrt70j5ppqpn7cat2avkc</string>
	<key>API_KEY</key>
	<string>AIzaSyC0pXQIVaiKeIZ7TwVm-A5kJMU_je3SiF8</string>
	<key>GCM_SENDER_ID</key>
	<string>769420746617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ps</string>
	<key>PROJECT_ID</key>
	<string>patient-mangement-system</string>
	<key>STORAGE_BUCKET</key>
	<string>patient-mangement-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769420746617:ios:be532de468452c6842d9a8</string>
	<key>DATABASE_URL</key>
	<string>https://patient-mangement-system-default-rtdb.firebaseio.com</string>
</dict>
</plist>